@model RPPP_WebApp.ViewModels.PersonViewModel

<form asp-controller="Person"
      asp-route-id="@Model.PersonId"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
  
  <div class="elem-header">
    <h2>Edit a person</h2>
    <div class="text-center action-buttons">
      <a asp-action="Index" class="btn btn-secondary" title="Return to the list"><i class="fa-solid fa-circle-left"></i></a>
      <button class="btn btn-primary" type="submit" title="Save"><i class="fa-solid fa-floppy-disk"></i></button>
    </div>
  </div>

  <div class="alter-fields">
    <input type="hidden" asp-for="PersonId"/>
    <partial name="_CommonFields" />
  </div>

  <partial name="Orders" model="Model.Orders" />
</form>

<partial name="NewOrderTemplate" />

@section styles {
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section scripts {
  <partial name="IncludeValidation" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="~/js/people.js" asp-append-version="true"></script>
  <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}