<table id="template" style="visibility:hidden">
  <tr>
      <td class="text-left col-sm-4">
          <input type="hidden" name="Operations.Index" value="--id--" />
          @* <input type="hidden" name="Operations[--id--].OperationId"  /> *@
          <select class="form-select form-control" name="Operations[--id--].OperationTypeId" asp-items="@ViewBag.operationTypes">
              <option disabled selected value="">Choose operation type</option>
          </select>
      </td>
      </td> 
      <td class="text-right col-sm-3">
            <input type="number" name="Operations[--id--].Cost" class="form-control" value="--cost--"/>
      </td>
      <td class="text-right col-sm-3">
            <input type="checkbox" name="Operations[--id--].Status" class="form-control" value="--status--"/>
      </td>
      <td class="text-right col-sm-3">
            <input type="date" name="Operations[--id--].Date" class="form-control" value="--date--"/>
      </td>
      <td class="text-right col-sm-3">
            <input min="1" name="Operations[--id--].Amount" class="form-control" value="--amount--"/>
      </td>
      <td class="text-right col-sm-3">
            <input type="number" name="Operations[--id--].PlantId" class="form-control" value="--plantid--"/>
      </td>
      <td class="actions">
          <button class="btn btn-sm delete-row" title="Remove"><i class="fa-solid fa-xmark fa-lg"></i></button>
      </td>               
  </tr>
</table>