@model RPPP_WebApp.Models.Species

@{
  ViewBag.Title = "Create new";
}

<h2>Add new species</h2>

<form asp-action="Create" method="post">
  <div class="mb-3">
    <label asp-for="Id" class="form-label"></label>
    <input  min="1" asp-for="Id" class="form-control" />
    <div class="form-text"><span asp-validation-for="Id" class="text-danger"></span></div>
  </div>
  <div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input  asp-for="Name" class="form-control" />
    <div class="form-text"><span asp-validation-for="Name" class="text-danger"></span></div>
  </div>
  <div class="mb-3">
    <label asp-for="NutritionalValues" class="form-label"></label>
    <input asp-for="NutritionalValues" class="form-control" />
    <div class="form-text"><span asp-validation-for="NutritionalValues" class="text-danger"></span></div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
  </div>
  <div asp-validation-summary="All"></div>
</form>

@section scripts {
  <partial name="IncludeValidation" />
}